@use 'variables';
@use '../../node_modules/include-media/dist/include-media';

.Country {
    position: relative;
    .Container2 {
        margin-top: 100px;
    }
    .NoDisplayMobile {
        display: none;
        @include include-media.media('>=desktop') {
            @include variables.flex(row, space-evenly, center);
        }
    }
    .NoDisplayDesktop {
        @include include-media.media('>=desktop') {
            display: none;
        }
    }
    a {
        text-decoration: none;
    }
    .BackArrow {
        position: absolute;
        top: 28px;
        left: 13%;
        @include include-media.media('>=tablet') {
            top: 37px;
        }
        @include include-media.media('>=desktop') {
            top: 30px;
            left: 11%;
        }
    }
    .BackButton {
        margin-left: 10%;
        text-align: right;
        padding-right: 4%;
        box-sizing: border-box;
        @include include-media.media('>=desktop') {
            width: 10%;
        }
    }
    h5 {
        text-align: center;
        display: inline-block;
        margin-right: 15px;
        width: 23%;
        height: 27px;
        padding: 5px 5px 0;
        border-radius: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include include-media.media('>=tablet') {
            width: 20%;
            height: 35px;
        }
    }
    .Flag {
        margin: 20px auto;
        border-radius: 5px;
        @include variables.centerContent;
        @include include-media.media('>=desktop') {
            width: 40%;
            margin-left: 3%;
            margin-right: 3%;
        }
    }
    .BorderCountries {
        padding-left: 10%;
        @include include-media.media('>=desktop') {
            @include variables.flex(row, space-evenly, center);
            position: relative;
            width: 50vw;
            left: 19.5%;
            top: -80px;
           h5 {
               width: 8vw;
               height: 28px;
           }
           h2 {
               font-weight: 600;
               white-space: nowrap;
               margin-right: 5px;
           }
           .Neighbors {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr;
               margin-top: 90px;
           }
        }
    }
    h1, h2 {
        margin-left: 10%;
    }
    h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        @include include-media.media('>=desktop') {
            font-size: 32px;
        }
    }
    h2 {
        margin-bottom: 20px;
    }
    .InfoPair {
        @include variables.flex(row, flex-start, center);
        gap: 2%;
        margin-left: 10%;
        margin-top: -20px;
        p {
            font-weight: 300;
            white-space: nowrap;
        }
        @include include-media.media('>=desktop') {
        }
    }
    .CountryLink {
        margin-top: 0;
    }
    .PairContainer {
        margin-bottom: 20px;
    }
}