@use 'variables';
@use '../../node_modules/include-media/dist/include-media';

.CountryBtn {
    @include variables.flex(column, center, center);
    width: 90%;
    max-width: 350px;
    height: 80vw;
    max-height: 365px;
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 0;
    @include include-media.media('>=desktop') {
        height: 30vw;
        max-width: 300px;
        max-height: 300px;
        width: 100%;
    }
    img {
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        height: 50%;
        width: 100%;
        margin-top: -6vh;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .CountryInfo {
        @include variables.flex(column, space-around, flex-start);
        margin-left: -15vw;
        @include include-media.media('>=tablet') {
            margin-left: -5vw;
        }
        @include include-media.media('>=desktop') {
            margin-left: -1vw;
        }
        h1 {
            margin-bottom: 25px;
        }
        .Info {
            @include variables.flex(column, center, flex-start);
            .InfoPair {
                @include variables.flex(row, space-between, center);
                gap: 5px;
                margin-top: -25px;
                p {
                    font-weight: 300;
                }
            }
        }
    }
}